<%- include('../partials/header') %>

  <h3><%= skill.skill %></h3>
  <h3>Completed: <%= skill.done ? 'Yes' : 'No' %></h3>
  <a href="/skills/<%= skill.id %>/edit">Edit Skills</a>

<%- include('../partials/footer') %>